.toggle-btn {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 29px;
}

.toggle-btn .toggle-btn__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-btn__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bdbdbd;
  transition: all 0.4s ease;
}

.toggle-btn__slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: all 0.4s ease;
}

.toggle-btn_type_round .toggle-btn__slider {
  border-radius: 500px;
}

.toggle-btn_type_round .toggle-btn__slider::before {
  border-radius: 50%;
}

/* toggle animation*/

.toggle-btn__input:checked + .toggle-btn__slider::before {
  translate: 25px;
}

.toggle-btn__input:checked + .toggle-btn__slider {
  background-color: var(--color-accent-primary);
}
